<a href="https://colab.research.google.com/github/cnyakundi/financial_inclusion/blob/master/notebooks/Factor_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Multivariate Analysis with Python: Factor Analysis

## Loading our libraries

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

# Previewing the dataset

In [5]:
df=pd.read_csv('FinScope Tanzania 2017_27092017.csv')

df

       SbjNum  Region  Region_Code  District  ...   MZ  fasx  overlapx  tot
0    48475424       5            5        34  ...  1.0   1.0       7.0  1.0
1    47118466       4            4        24  ...  1.0   2.0       6.0  1.0
2    47441546      19           19       119  ...  1.0   2.0       6.0  1.0
3    46902140      11           11        70  ...  1.0   1.0       7.0  1.0
4    46894875      19           19       123  ...  1.0   1.0       7.0  1.0
..        ...     ...          ...       ...  ...  ...   ...       ...  ...
657  48428478      13           13        79  ...  1.0   2.0       6.0  1.0
658  47777663      11           11        68  ...  1.0   2.0       6.0  1.0
659  46814783       9            9        55  ...  1.0   2.0       6.0  1.0
660  47987697      12           12        75  ...  1.0   2.0       6.0  1.0
661  49084137      21           21       135  ...  NaN   NaN       NaN  NaN

[662 rows x 1211 columns]

In [6]:
# Previewing the dataset columns

df.columns

Index(['SbjNum', 'Region', 'Region_Code', 'District', 'District_Code', 'Ward',
       'Ward_Code', 'Village_Code', 'EA', 'UEA_Code',
       ...
       'PPIScore', 'PPI_Category', 'IncomeMain', 'BusO', 'Farmers', 'RU', 'MZ',
       'fasx', 'overlapx', 'tot'],
      dtype='object', length=1211)

 ### Dropping missing values rows

In [7]:
df.dropna(inplace=True)

### Checking the datatypes

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 661 entries, 0 to 660
Columns: 1211 entries, SbjNum to tot
dtypes: float64(565), int64(505), object(141)
memory usage: 6.1+ MB

### Previewing our dataset

In [10]:
df.head()

     SbjNum  Region  Region_Code  District  ...   MZ  fasx  overlapx  tot
0  48475424       5            5        34  ...  1.0   1.0       7.0  1.0
1  47118466       4            4        24  ...  1.0   2.0       6.0  1.0
2  47441546      19           19       119  ...  1.0   2.0       6.0  1.0
3  46902140      11           11        70  ...  1.0   1.0       7.0  1.0
4  46894875      19           19       123  ...  1.0   1.0       7.0  1.0

[5 rows x 1211 columns]

### Installing factor analyzer

In [11]:
!pip install factor_analyzer==0.2.3

Collecting factor_analyzer==0.2.3
  Downloading factor_analyzer-0.2.3-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from factor_analyzer==0.2.3) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from factor_analyzer==0.2.3) (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from factor_analyzer==0.2.3) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->factor_analyzer==0.2.3) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->factor_analyzer==0.2.3) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->factor_analyzer==0.2.3) (1.15.0)
Installing collected packages: factor-analyzer
Successfully installed factor-analyzer-0.2.3

In [12]:
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity

chi_square_value,p_value=calculate_bartlett_sphericity(df)
chi_square_value, p_value

/usr/local/lib/python3.7/dist-packages/numpy/linalg/linalg.py:2159: RuntimeWarning: invalid value encountered in det
  r = _umath_linalg.det(a, signature=signature)

(nan, nan)

In [ ]:
from factor_analyzer.factor_analyzer import calculate_kmo

kmo_all,kmo_model=calculate_kmo(df)

In [17]:
from factor_analyzer.factor_analyzer import FactorAnalyzer

# Creating factor analysis object and perform factor analysis
fa = FactorAnalyzer()
fa.analyze(df, 25, rotation=None)

# Checking the Eigenvalues
ev, v = fa.get_eigenvalues()
ev

ValueError: ignored

In [16]:
plt.scatter(range(1,df.shape[1]+1),ev)
plt.plot(range(1,df.shape[1]+1),ev)
plt.title('Scree Plot')
plt.xlabel('Factors')
plt.ylabel('Eigenvalue')
plt.grid()
plt.show()

NameError: ignored